#account {
  display: grid;
  grid: 1fr / 1fr;
  .content {
    grid-area: 1 / 1 / 2 / 2;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    color: #fff;
    z-index: 2;
  }
}
