#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
  width: 100%;
  height: 64px;
  background-color: $dark;
  color: #fff;
  img,
  a {
    width: 24px;
    height: 24px;
  }
  a img {
    filter: invert(100%) sepia(0%) saturate(5117%) hue-rotate(199deg)
      brightness(106%) contrast(107%);
  }
}
