$dark: #151c36;
$medium: #485778;
$medium-blue: #32497b;
$light-blue: #5a7dc8;
$light: #abb1bc;
$light-white: #fff8e6;
$light-red: #fbdcc4;
$light-grey: #cfdeec;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: grid;
  min-height: 100vh;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
}

.App {
  display: grid;
  grid: 64px 1fr 64px / 1fr;
  min-height: 100%;
}

html {
  background-color: #eeeeee;
}

.background-image {
  grid-area: 1 / 1 / 2 / 2;
  margin-left: auto;
  margin-right: auto;
  display: block;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-image: url('../assets/gabriel-alenius-USXfF_ONUGo-unsplash.webp');
  background-size: cover;
  filter: brightness(50%);
}

button:hover {
  cursor: pointer;
}

@import './burger-menu';
@import './navbar';
@import './home';
@import './login-signup';
@import './account';
@import './accountinfoform';
@import './mountainsform';
@import './mountainweather';
@import './conditions';
@import './footer';
