* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: grid;
  min-height: 100vh;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
}

h1,
#home h2,
#home p {
  text-shadow: rgb(21, 28, 54) 4px 0px 0px, rgb(21, 28, 54) 3.87565px 0.989616px 0px, rgb(21, 28, 54) 3.51033px 1.9177px 0px, rgb(21, 28, 54) 2.92676px 2.72656px 0px, rgb(21, 28, 54) 2.16121px 3.36588px 0px, rgb(21, 28, 54) 1.26129px 3.79594px 0px, rgb(21, 28, 54) 0.282949px 3.98998px 0px, rgb(21, 28, 54) -0.712984px 3.93594px 0px, rgb(21, 28, 54) -1.66459px 3.63719px 0px, rgb(21, 28, 54) -2.51269px 3.11229px 0px, rgb(21, 28, 54) -3.20457px 2.39389px 0px, rgb(21, 28, 54) -3.69721px 1.52664px 0px, rgb(21, 28, 54) -3.95997px 0.56448px 0px, rgb(21, 28, 54) -3.97652px -0.432781px 0px, rgb(21, 28, 54) -3.74583px -1.40313px 0px, rgb(21, 28, 54) -3.28224px -2.28625px 0px, rgb(21, 28, 54) -2.61457px -3.02721px 0px, rgb(21, 28, 54) -1.78435px -3.57996px 0px, rgb(21, 28, 54) -0.843183px -3.91012px 0px, rgb(21, 28, 54) 0.150409px -3.99717px 0px, rgb(21, 28, 54) 1.13465px -3.8357px 0px, rgb(21, 28, 54) 2.04834px -3.43574px 0px, rgb(21, 28, 54) 2.83468px -2.82216px 0px, rgb(21, 28, 54) 3.44477px -2.03312px 0px, rgb(21, 28, 54) 3.84068px -1.11766px 0px, rgb(21, 28, 54) 3.9978px -0.132717px 0px;
}

.App {
  display: grid;
  grid: 64px 1fr 64px/1fr;
  min-height: 100%;
}

html {
  background-color: #eeeeee;
}

.background-image {
  grid-area: 1/1/2/2;
  margin-left: auto;
  margin-right: auto;
  display: block;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-image: url("../assets/gabriel-alenius-USXfF_ONUGo-unsplash.webp");
  background-size: cover;
  filter: brightness(50%);
}

button:hover {
  cursor: pointer;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  top: 1rem;
  right: 1rem;
  width: 32px;
  height: 32px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #fff;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #cfdeec;
  opacity: 1 !important;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #151c36;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
  top: 64px;
}

/* General sidebar styles */
.bm-menu {
  background: #cfdeec;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
}

#header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  width: 100%;
  background-color: #151c36;
}
#header a {
  color: #fff;
  text-decoration: none;
}
#header a.title {
  display: flex;
  align-items: center;
}
#header a.title img {
  width: 32px;
  height: 32px;
  margin: 1rem;
  filter: invert(94%) sepia(6%) saturate(0%) hue-rotate(1deg) brightness(104%) contrast(107%);
}
#header nav.desktop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.5rem;
  padding: 1rem;
}

@media only screen and (max-width: 640px) {
  #header a h1 {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 900px) {
  #header nav.desktop {
    display: none;
  }
  #header a {
    color: #151c36;
    font-weight: bold;
  }
  #header a.title {
    color: #fff;
  }
}
@media only screen and (min-width: 900px) {
  #header div {
    display: none;
  }
}
#home {
  display: grid;
  grid: 1fr/1fr;
  align-items: center;
  width: 100%;
  text-align: center;
  color: #151c36;
}
#home .background-image {
  grid-area: 1/1/2/2;
  background-image: url("../assets/ales-krivec-gVG5k5u1Cxw-unsplash.webp");
  background-size: cover;
  background-position: 50% 40%;
  filter: brightness(50%);
}
#home .content {
  grid-area: 1/1/2/2;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  color: #fff;
}
#home .content h1 {
  grid-area: 1/1/2/2;
  align-self: center;
  z-index: 2;
  font-size: 2.8rem;
}
#home .content h2 {
  font-size: 1.8rem;
  color: inherit;
}
#home .content p {
  font-size: 1.5rem;
  font-weight: bold;
}
#home .content .link-container {
  display: flex;
  gap: 5rem;
}
#home .content a {
  font-size: 1.5rem;
  color: inherit;
  text-decoration: none;
  border: 1px solid #151c36;
  color: #fff;
  background-color: #151c36;
  padding: 12px 64px;
}
#home .content a:hover {
  background-color: #5a7dc8;
}

@media only screen and (max-width: 900px) {
  #home .content .link-container {
    flex-direction: column;
    gap: 2rem;
  }
}
@media only screen and (max-width: 640px) {
  #home h1 {
    font-size: 2.5rem;
  }
  #home .content h2 {
    font-size: 1.5rem;
  }
  #home .content .link-container {
    flex-direction: column;
    gap: 2rem;
  }
}
#login,
#signup {
  display: grid;
  grid: 1fr/1fr;
}
#login .content,
#signup .content {
  grid-area: 1/1/2/2;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  color: #151c36;
}
#login .content h1,
#signup .content h1 {
  color: #fff;
}
#login .content a,
#signup .content a {
  text-decoration: none;
  color: #151c36;
}
#login .content a:hover,
#signup .content a:hover {
  color: #32497b;
}
#login .content form,
#signup .content form {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 2rem;
  background-color: #cfdeec;
  border: 1px solid #151c36;
}
#login .content form p,
#signup .content form p {
  font-size: 0.75rem;
}
#login .content .form-field,
#signup .content .form-field {
  display: flex;
  flex-direction: column;
}
#login .content .form-field input,
#signup .content .form-field input {
  border-radius: 0;
  border: 1px solid #151c36;
  font-size: 1rem;
  max-width: 250px;
  height: 1.5rem;
  -webkit-appearance: none;
}
#login .content .form-field input:focus,
#signup .content .form-field input:focus {
  outline: none;
  border: 1px solid #32497b;
  box-shadow: 0 0 5px #32497b;
}
#login .content .form-field input.touched:invalid,
#signup .content .form-field input.touched:invalid {
  border: 1px solid red;
}
#login .content .form-field input.touched:invalid:focus,
#signup .content .form-field input.touched:invalid:focus {
  box-shadow: 0 0 5px red;
}
#login .content .form-field p.error,
#signup .content .form-field p.error {
  max-width: 250px;
  color: red;
}
#login .content .form-field-check,
#signup .content .form-field-check {
  display: flex;
  gap: 1rem;
  padding: 0.5rem;
}
#login .content .checkbox-msg,
#signup .content .checkbox-msg {
  text-align: center;
  font-style: italic;
}
#login .content button,
#signup .content button {
  border: 1px solid #151c36;
  background-color: #151c36;
  color: #fff;
  padding: 6px 48px;
  height: 40px;
  font-size: 1.2rem;
}
#login .content button:hover,
#signup .content button:hover {
  cursor: pointer;
  background-color: #5a7dc8;
}
#login .content .posting,
#signup .content .posting {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 48px;
  height: 40px;
}
#login .content .posting .spinner,
#signup .content .posting .spinner {
  border: 2px solid #fff;
  border-top: 2px solid #151c36;
  border-right: 2px solid #151c36;
  border-radius: 50%;
  width: 2.2rem;
  height: 2.2rem;
  -webkit-animation: spin 1.2s linear infinite;
          animation: spin 1.2s linear infinite;
}
#login .content .response,
#signup .content .response {
  text-align: center;
  color: red;
}

#login .content {
  padding-bottom: 5rem;
}

@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#account {
  display: grid;
  grid: 1fr/1fr;
}
#account .content {
  grid-area: 1/1/2/2;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  color: #fff;
  z-index: 2;
}

#account-info-form {
  display: grid;
  grid: 1fr/1fr;
}
#account-info-form .content {
  grid-area: 1/1/2/2;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  color: #fff;
  z-index: 2;
}
#account-info-form .content h1 {
  font-size: 1.5rem;
}
#account-info-form .content a:hover {
  color: #32497b;
}
#account-info-form .content form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 2rem 4rem;
  width: 100%;
  max-width: 700px;
  border: 1px solid #151c36;
  color: #151c36;
  background-color: #cfdeec;
}
#account-info-form .content form p {
  font-size: 1rem;
}
#account-info-form .content .form-field {
  display: grid;
  grid: 1fr 1fr/1fr 1fr 1fr;
  align-items: center;
  gap: 0;
  width: 100%;
}
#account-info-form .content .form-field label {
  font-weight: bold;
}
#account-info-form .content .form-field p {
  grid-area: 1/2/2/3;
  font-size: 1rem;
  max-width: 250px;
}
#account-info-form .content .form-field p.error {
  grid-area: 2/2/3/3;
  font-size: 0.75rem;
  color: red;
}
#account-info-form .content .form-field input {
  grid-area: 1/2/2/3;
  border-radius: 0;
  border: 1px solid #151c36;
  font-size: 1rem;
  width: 250px;
  height: 1.5rem;
  -webkit-appearance: none;
}
#account-info-form .content .form-field input:focus {
  outline: none;
  border: 1px solid #32497b;
  box-shadow: 0 0 5px #32497b;
}
#account-info-form .content .form-field input.touched:invalid {
  border: 1px solid red;
}
#account-info-form .content .form-field input.touched:invalid:focus {
  box-shadow: 0 0 5px red;
}
#account-info-form .content .form-field button {
  grid-area: 1/3/2/4;
  justify-self: end;
  padding: 0;
  width: 30px;
  height: 30px;
  border: none;
  background-color: inherit;
  font-size: 0.75rem;
}
#account-info-form .content .form-field button.submit {
  width: 64px;
  height: 24px;
  color: #fff;
  background-color: #151c36;
  border: 1px solid #151c36;
}
#account-info-form .content button {
  font-size: 1rem;
  padding: 0;
  width: 48px;
  height: 24px;
}
#account-info-form .content button.submit:hover {
  background-color: #5a7dc8;
}
#account-info-form .content .form-field-check {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 0.5rem;
}
#account-info-form .content .checkbox-msg {
  text-align: center;
  font-style: italic;
}
#account-info-form .content .posting {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 48px;
  height: 40px;
}
#account-info-form .content .posting .spinner {
  border: 2px solid #fff;
  border-top: 2px solid #151c36;
  border-right: 2px solid #151c36;
  border-radius: 50%;
  width: 2.2rem;
  height: 2.2rem;
  -webkit-animation: spin 1.2s linear infinite;
          animation: spin 1.2s linear infinite;
}
#account-info-form .content .post-error {
  color: red;
  font-size: 0.9rem;
  text-align: center;
}
#account-info-form .content .posted {
  text-align: center;
}

@media only screen and (max-width: 640px) {
  #account-info-form .content form {
    max-width: 95%;
    padding: 1.5rem;
  }
  #account-info-form .content .form-field {
    grid: 1fr 1fr 1.5rem/1fr 1fr;
    max-width: 100%;
  }
  #account-info-form .content .form-field p {
    grid-area: 2/1/3/2;
    font-size: 1rem;
  }
  #account-info-form .content .form-field p.error {
    grid-area: 3/1/4/2;
  }
  #account-info-form .content .form-field input {
    grid-area: 2/1/3/2;
    max-width: 200px;
  }
  #account-info-form .content .form-field button {
    grid-area: 2/2/3/3;
  }
  #account-info-form .content .form-field button.submit {
    width: 54px;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#alerts-form {
  display: grid;
  grid: 1fr/1fr;
}
#alerts-form .content {
  grid-area: 1/1/2/2;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
  color: #fff;
  z-index: 2;
}
#alerts-form .content h1 {
  font-size: 1.5rem;
}
#alerts-form .content h2 {
  width: 100%;
  border-top: 1px solid #151c36;
  padding-top: 1rem;
  font-size: 1.2rem;
  text-align: center;
  text-decoration: underline;
}
#alerts-form .content a:hover {
  color: #32497b;
}
#alerts-form .content form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem 4rem;
  width: 100%;
  max-width: 700px;
  border: 1px solid #151c36;
  background-color: #cfdeec;
  color: #151c36;
}
#alerts-form .content form p {
  font-size: 1rem;
}
#alerts-form .content form ol {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  list-style-position: inside;
  line-height: 0.75rem;
}
#alerts-form .content form ol li button {
  text-align: center;
  line-height: 0.75rem;
}
#alerts-form .content .checkboxes {
  display: flex;
  justify-content: space-around;
  gap: 4rem;
  font-weight: bold;
  white-space: nowrap;
}
#alerts-form .content .checkboxes .form-field-check {
  display: flex;
  gap: 1rem;
}
#alerts-form .content .form-field,
#alerts-form .content .form-field-pass {
  display: grid;
  grid: 1fr/1fr 1fr 1fr;
  align-items: center;
  gap: 0;
  width: 100%;
}
#alerts-form .content .form-field label,
#alerts-form .content .form-field-pass label {
  font-weight: bold;
}
#alerts-form .content .form-field p,
#alerts-form .content .form-field-pass p {
  grid-area: 1/2/2/3;
  font-size: 1rem;
  max-width: 250px;
}
#alerts-form .content .form-field p.error,
#alerts-form .content .form-field-pass p.error {
  grid-area: 2/2/3/3;
  font-size: 0.75rem;
  color: red;
}
#alerts-form .content .form-field input,
#alerts-form .content .form-field-pass input {
  grid-area: 1/2/2/3;
  border-radius: 0;
  border: 1px solid #151c36;
  font-size: 1rem;
  width: 250px;
  height: 1.5rem;
  -webkit-appearance: none;
}
#alerts-form .content .form-field input:focus,
#alerts-form .content .form-field-pass input:focus {
  outline: none;
  border: 1px solid #32497b;
  box-shadow: 0 0 5px #32497b;
}
#alerts-form .content .form-field input.touched:invalid,
#alerts-form .content .form-field-pass input.touched:invalid {
  border: 1px solid red;
}
#alerts-form .content .form-field input.touched:invalid:focus,
#alerts-form .content .form-field-pass input.touched:invalid:focus {
  box-shadow: 0 0 5px red;
}
#alerts-form .content .form-field button,
#alerts-form .content .form-field-pass button {
  grid-area: 1/3/2/4;
  justify-self: end;
  height: 24px;
  width: 64px;
}
#alerts-form .content .form-field-pass {
  border-top: 1px solid #151c36;
  padding-top: 2rem;
}
#alerts-form .content button {
  padding: 0;
  width: 16px;
  height: 16px;
  font-size: 0.75rem;
  color: #fff;
  background-color: #151c36;
  border: 1px solid #151c36;
}
#alerts-form .content button:hover {
  background-color: #5a7dc8;
}
#alerts-form .content .posting {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 48px;
  height: 40px;
}
#alerts-form .content .posting .spinner {
  border: 2px solid #fff;
  border-top: 2px solid #151c36;
  border-right: 2px solid #151c36;
  border-radius: 50%;
  width: 2.2rem;
  height: 2.2rem;
  -webkit-animation: spin 1.2s linear infinite;
          animation: spin 1.2s linear infinite;
}
#alerts-form .content .post-error {
  color: red;
  font-size: 0.9rem;
  text-align: center;
}
#alerts-form .content .posted {
  text-align: center;
}

@media only screen and (max-width: 640px) {
  #alerts-form .content {
    padding: 2rem 0.5rem;
  }
  #alerts-form .content form {
    max-width: 95%;
    padding: 1rem 2rem;
    gap: 1rem;
  }
  #alerts-form .content .form-field,
#alerts-form .content .form-field-pass {
    grid: 1fr 1fr 1.5rem/1fr 1fr;
    max-width: 100%;
  }
  #alerts-form .content .form-field p,
#alerts-form .content .form-field-pass p {
    grid-area: 2/1/3/2;
    font-size: 1rem;
  }
  #alerts-form .content .form-field p.error,
#alerts-form .content .form-field-pass p.error {
    grid-area: 3/1/4/2;
  }
  #alerts-form .content .form-field input,
#alerts-form .content .form-field-pass input {
    grid-area: 2/1/3/2;
    max-width: 200px;
  }
  #alerts-form .content .form-field button,
#alerts-form .content .form-field-pass button {
    grid-area: 2/2/3/3;
  }
  #alerts-form .content .form-field button.submit,
#alerts-form .content .form-field-pass button.submit {
    width: 54px;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.mountain-weather {
  display: grid;
  grid: 1/1/2/2;
}
.mountain-weather .background-image {
  background-image: none;
}
.mountain-weather .weather-content {
  grid-area: 1/1/2/2;
  z-index: 2;
  display: grid;
  grid: 3rem 1fr/1fr 1fr;
  width: 100%;
  min-width: 500px;
  max-width: 600px;
  padding: 1rem;
  text-align: center;
  color: #151c36;
  background-color: #cfdeec;
  border: 1px solid #151c36;
}
.mountain-weather .weather-content h2 {
  grid-area: 1/1/2/3;
}
.mountain-weather .weather-content .current-conditions {
  grid-area: 2/1/3/2;
  padding-right: 8px;
}
.mountain-weather .weather-content .forecast {
  grid-area: 2/2/3/3;
  padding-left: 0px 8px;
}

@media only screen and (max-width: 640px) {
  .mountain-weather .weather-content {
    min-width: 320px;
  }
}
#forecast {
  display: grid;
  grid: 1fr/1fr;
}
#forecast .content {
  grid-area: 1/1/2/2;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  color: #fff;
  z-index: 2;
}
#forecast .content h2.no-user {
  margin-top: 10rem;
  text-align: center;
}
#forecast .content .weather {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
  width: 100%;
  height: 64px;
  background-color: #151c36;
  color: #fff;
}
#footer img,
#footer a {
  width: 24px;
  height: 24px;
}
#footer a img {
  filter: invert(100%) sepia(0%) saturate(5117%) hue-rotate(199deg) brightness(106%) contrast(107%);
}

.loading {
  position: relative;
  z-index: 2;
  margin-top: 8rem;
  width: 80%;
  max-width: 600px;
  height: 5px;
  background-color: #fff;
}
.loading .bar {
  width: 10%;
  height: 100%;
  background-color: #151c36;
  position: absolute;
  -webkit-animation: expand 1s ease-in-out 0s infinite;
          animation: expand 1s ease-in-out 0s infinite;
}

@-webkit-keyframes expand {
  0% {
    left: 0%;
  }
  100% {
    left: 90%;
  }
}

@keyframes expand {
  0% {
    left: 0%;
  }
  100% {
    left: 90%;
  }
}/*# sourceMappingURL=main.css.map */